body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:992px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:40px;
  width:706px;
  height:725px;
  overflow:hidden;
}
#u26_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:725px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:726px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:726px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:355px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:725px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:730px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:730px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:357px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:725px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:724px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:724px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:725px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:725px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:725px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:749px;
  width:706px;
  height:50px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
